@model IEnumerable<Libro>
<h1>Libros</h1>
<p>
	<a class="btn btn-primary" href="@Url.Action("Create")">Crear Nuevo Libro</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Título</th>
			<th>Autor</th>
			<th>Categorías</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var libro in Model)
		{
			<tr>
				<td>@libro.Titulo</td>
				<td>@libro.Autor.Nombre</td>
				<td>
					@foreach (var categoria in libro.Categoria.Select(lc => lc.Nombre))
					{
						<p>@categoria</p>
					}
				</td>
				<td>
					<a href="@Url.Action("Edit", "Libro", new { id = libro.LibroId })">Editar</a> |
					<a href="@Url.Action("Delete", "Libro", new { id = libro.LibroId })">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
